@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --background: #131c39;
  --background2: #000000;
  --font: #ffffff;
  --progress: #ff6669;
  --border:#aab5b8;
  --border-circle:#0a0f1f;
  --short:#26C6DA;
  --long:#397097;
}
body{
  font-family: 'Roboto',  sans-serif;
  color: var(--font);
}
.App{
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.header{
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 16px;
  
}
.header .nav{
  width: 400px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--background2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  border: 1px solid var(--border);
}
.header .nav button{
  background-color: transparent;
  border-radius:25px ;
  border: none;
  color: var(--font);
  font-size: 1.3rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.header .nav button:nth-child(1):hover{
  background-color: var(--progress);
  color: var(--background2);
}
.header .nav button:nth-child(1):focus{
  background-color: var(--progress);
  color: var(--background2);
}
.header .nav button:nth-child(2):hover{
  background-color: var(--short);
  color: var(--background2);
}
.header .nav button:nth-child(2):focus{
  background-color: var(--short);
  color: var(--background2);
}
.header .nav button:nth-child(3):hover{
  background-color: var(--long);
  color: var(--background2);
}
.header .nav button:nth-child(3):focus{
  background-color: var(--long);
  color: var(--background2);
}
.content{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px  rgba(255,255,255,0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.content button{
  position: absolute;
  bottom: 50px;
  width: 90px;
  height: 28px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

